[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests-html = "*"
"beautifulsoup4" = "*"
lxml = "*"
pillow = ">=6.2.0"
psutil = "*"
requests = "*"
flask = "*"


[dev-packages]

