[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests-html = "*"
"beautifulsoup4" = "*"
lxml = "*"
Pillow = "*"
psutil = "*"
requests = "*"


[dev-packages]

