<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>壁纸#{{ image_id }}</title>
    <script type="text/javascript">
        function loadXMLDoc() {
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.open("GET", "/change/{{ image_id }}", true);
            xmlhttp.send();
            alert("桌面壁纸已更新为 #{{ image_id }}！")
        }
    </script>

    <script>
        function myReload() {
            location.reload();
        }
    </script>
</head>
<body>
<h1> 图片信息 </h1>
<p> 图片路径：{{ image_name }}</p>
<p>
    <input type="button" value="上一张" onclick="window.location.href='/info/{{ image_id-1 }}';"/>
    <input type="button" value="下一张" onclick="window.location.href='/info/{{ image_id+1 }}';"/>
</p>
<p>
    <button onclick="myReload()">刷新</button>
    <button type="button" onclick="loadXMLDoc()">设为壁纸</button>
</p>
<img src={{ url_for('static', filename=image_url) }} alt="Smiley face" height="50%" width="50%">
</body>
</html>